<page-non-title-container [breadcrumbs]="breadcrumbs">
  <step-component extraHeader (handleNextStep)="onNextStep($event)" (handlePrevStep)="onPreStep($event)"
    [currentStep]="1" />
  <div class="step-content-detail-cus">
    <div class="detai-cus-infomation-wrapper">
      <bidv-svg class="detai-cus-infomation-wrapper_svg" [src]="is_cn? '$bidvPersonal':''"></bidv-svg>
      <div class="detai-cus-infomation-wrapper_info">
        <span class="bidv-text_headline-7">
          CIF: {{userInfoData.acn}} - {{userInfoData.bocDesc}}
        </span>
        <div class="detai-cus-infomation-wrapper_badge">
          <bidv-badge class="badge-green" iconLeft="bidvIconRibbonStar" shape="square">
            {{userInfoData.ccode}}
          </bidv-badge>
          <bidv-badge iconLeft="bidvIconContactCard" appearance="gray" shape="square">
            CCCD: {{userInfoData.oin}}
          </bidv-badge>
        </div>
      </div>
    </div>
    <app-step-detail-customer-cn [title]="title" [data]="userInfoData" />
    <app-identifier-component />
  </div>
</page-non-title-container>
