.bidv-detail-card-info {
  margin-top: 16px;
  background: white;
  border-radius: 12px;
  .title {
    padding: 24px 12px 12px 24px;
  }
}

.mt-4 {
  margin-top: 1rem;
}

.font-semibold {
  font-weight: 600;
}

.pl-6 {
  padding-left: 1.5rem;
}
