<bidv-root>
  <bidv-ui-auth-layout>
    <router-outlet></router-outlet>
    <ng-container ngProjectAs="bidvOverContent">
      <!-- Content over app content -->
    </ng-container>
    <ng-container ngProjectAs="bidvOverDialogs">
      <!-- Content over dialogs -->
    </ng-container>
    <ng-container ngProjectAs="bidvOverAlerts">
      <!-- Content over alerts -->
    </ng-container>
    <ng-container ngProjectAs="bidvOverDropdowns">
      <!-- Content over dropdowns -->
    </ng-container>
    <ng-container ngProjectAs="bidvOverHints">
      <!-- Content over hints -->
    </ng-container>
  </bidv-ui-auth-layout>
</bidv-root>
