<form [formGroup]="formInfoCard">
  <!-- Thông tin phát hành thẻ -->
  <div class="section">
    <div class="section-header">
      <h3 class="title">Thông tin phát hành thẻ</h3>
      <bidv-icon
        icon="bidvIconChevronDown"
        (click)="toggleInfoCard()"
        class="icon-chevron"
        [class.expanded]="expandedInfoCard"
      ></bidv-icon>
    </div>
    <bidv-expand [expanded]="expandedInfoCard">
      <ng-template bidvExpandContent>
        <div class="page-non-row">
          <div class="page-non-col page-non-col-6">
            <div class="page-non-row">
              <div class="page-non-col page-non-col-6">
                <label class="form-item">
                  <div class="bidv-text_title-1">Loại thẻ</div>
                  <bidv-select
                    [bidvTextfieldCleaner]="true"
                    formControlName="cardTypeId"
                    [bidvTextfieldLabelOutside]="true"
                  >
                    Loại thẻ
                    <input bidvTextfield />
                    <bidv-data-list-wrapper *bidvDataList [items]="typeCard" />
                  </bidv-select>
                </label>
              </div>
              <div class="page-non-col page-non-col-6">
                <label class="form-item">
                  <div class="bidv-text_title-1">Sản phẩm thẻ</div>
                  <bidv-select
                    [bidvTextfieldCleaner]="true"
                    formControlName="productCodeId"
                    [bidvTextfieldLabelOutside]="true"
                  >
                    Sản phẩm thẻ
                    <input bidvTextfield />
                    <bidv-data-list-wrapper
                      *bidvDataList
                      [items]="productCode"
                    />
                  </bidv-select>
                </label>
              </div>

              <div class="page-non-col page-non-col-12">
                <label class="form-item">
                  <div class="bidv-text_title-1">Tên KHDN in trên thẻ</div>
                  <bidv-input formControlName="name">
                    Nhập tên KH
                    <input bidvTextfield type="text" />
                  </bidv-input>
                </label>
              </div>

              <div class="page-non-col page-non-col-12">
                <label class="form-item">
                  <div class="bidv-text_title-1">CB giới thiệu</div>
                  <bidv-input formControlName="staff">
                    Nhập CB giới thiệu
                    <input bidvTextfield type="text" />
                  </bidv-input>
                </label>
              </div>
            </div>
          </div>
          <div class="page-non-col page-non-col-6">
            <div class="page-non-row">
              <div class="page-non-col page-non-col-12">
                <label class="form-item">
                  <div class="bidv-text_title-1">Nhóm khách hàng thẻ</div>
                  <bidv-select
                    [bidvTextfieldCleaner]="true"
                    formControlName="cardCusGr"
                    [bidvTextfieldLabelOutside]="true"
                  >
                    Nhóm khách hàng thẻ
                    <input bidvTextfield />
                    <bidv-data-list-wrapper *bidvDataList [items]="cardCusGr" />
                  </bidv-select>
                </label>
              </div>

              <div class="page-non-col page-non-col-11">
                <label class="form-item">
                  <div class="bidv-text_title-1">
                    Phí thường niên & đặc quyền
                  </div>
                  <bidv-select
                    [bidvTextfieldCleaner]="true"
                    formControlName="annualFee"
                    [bidvTextfieldLabelOutside]="true"
                  >
                    Câu hỏi bảo mật
                    <input bidvTextfield placeholder="Câu hỏi" />
                    <bidv-data-list-wrapper
                      *bidvDataList
                      [items]="annualFees"
                    />
                  </bidv-select>
                </label>
              </div>
              <div class="page-non-col page-non-col-1 info-annualFee">
                <button
                  bidvIconButton
                  icon="bidvIconInfoOutline"
                  appearance="gray"
                  size="s"
                  variant="outlined"
                  class="btn-info"
                  bidvHintContent="Tên in trên thẻ không được:
                    Vượt quá 26 ký tự
                    Chứa số và ký tự đặc biệt"
                ></button>
              </div>

              <div class="page-non-col page-non-col-12">
                <label class="form-item">
                  <div class="bidv-text_title-1">Mã AM quản lý</div>
                  <bidv-input formControlName="staff">
                    Mã AM quản lý
                    <input bidvTextfield type="text" />
                  </bidv-input>
                </label>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </bidv-expand>
  </div>

  <!-- Danh sách thẻ phát hành -->
  <div class="section">
    <div class="section-header">
      <h3 class="title">Danh sách thẻ phát hành</h3>
      <bidv-icon
        icon="bidvIconChevronDown"
        (click)="toggleListInfoCard()"
        class="icon-chevron"
        [class.expanded]="expandedListInfoCard"
      ></bidv-icon>
    </div>
    <bidv-expand [expanded]="expandedListInfoCard">
      <ng-template bidvExpandContent>
        <div class="page-non-row">
          <div class="page-non-col page-non-col-6">
            <div class="page-non-row">
              <div class="page-non-col page-non-col-6">
                <label class="form-item">
                  <div class="bidv-text_title-1">CIF chủ thẻ chính</div>
                  <bidv-input formControlName="cifNumber">
                    Nhập số CIF
                    <input bidvTextfield type="number" />
                  </bidv-input>
                </label>
              </div>
              <div class="page-non-col page-non-col-6">
                <label class="form-item">
                  <div class="bidv-text_title-1">Tên KHCN sử dụng thẻ</div>
                  <bidv-input
                    formControlName="name"
                    bidvHintContent="Tên in trên thẻ không được:
                    Vượt quá 26 ký tự
                    Chứa số và ký tự đặc biệt"
                  >
                    Nhập tên KH
                    <input bidvTextfield type="text" />
                  </bidv-input>
                </label>
              </div>

              <div class="page-non-col page-non-col-12">
                <label class="form-item">
                  <div class="bidv-text_title-1">
                    Tài khoản chính liên kết thẻ
                  </div>
                  <bidv-select
                    [bidvTextfieldCleaner]="true"
                    formControlName="mainAcc"
                    [bidvTextfieldLabelOutside]="true"
                  >
                    Tài khoản chính liên kết thẻ
                    <input bidvTextfield />
                    <bidv-data-list-wrapper *bidvDataList [items]="mainAcc" />
                  </bidv-select>
                </label>
              </div>

              <div class="page-non-col page-non-col-12">
                <label class="form-item">
                  <div class="bidv-text_title-1">
                    Tài khoản phụ liên kết đến thẻ
                  </div>
                  <bidv-multi-select formControlName="subAcc">
                    Chọn tài khoản
                    <bidv-data-list-wrapper
                      *bidvDataList
                      bidvMultiSelectGroup
                      [items]="subAccs"
                    ></bidv-data-list-wrapper>
                  </bidv-multi-select>
                </label>
              </div>
            </div>
          </div>
          <div class="page-non-col page-non-col-6">
            <div class="page-non-row">
              <div class="page-non-col page-non-col-12">
                <label class="form-item">
                  <div class="bidv-text_title-1">Hình thức thẻ</div>
                  <div class="card-content-main">
                    <div class="card-left">
                      <bidv-radio-list
                        [items]="cardForm"
                        [style.flex-direction]="'row'"
                        [style.width]="'max-content'"
                      />
                    </div>
                    <div class="card-right">
                      <bidv-checkbox-labeled formControlName="printPin"
                        >In PIN giấy cho thẻ</bidv-checkbox-labeled
                      >
                    </div>
                  </div>
                </label>
              </div>
              <div class="page-non-col page-non-col-6">
                <label class="form-item">
                  <div class="bidv-text_title-1">Câu hỏi bảo mật</div>
                  <bidv-select
                    [bidvTextfieldCleaner]="true"
                    formControlName="question"
                    [bidvTextfieldLabelOutside]="true"
                  >
                    Câu hỏi bảo mật
                    <input bidvTextfield placeholder="Câu hỏi" />
                    <bidv-data-list-wrapper *bidvDataList [items]="questions" />
                  </bidv-select>
                </label>
              </div>

              <div class="page-non-col page-non-col-6">
                <label class="form-item">
                  <div class="bidv-text_title-1">Trả lời câu hỏi bảo mật</div>
                  <bidv-input-password formControlName="answer"
                    >Nhập kết quả</bidv-input-password
                  >
                </label>
              </div>

              <div class="page-non-col page-non-col-12">
                <label class="form-item">
                  <div class="bidv-text_title-1">
                    Giao dịch được phép thực hiện
                  </div>
                  <div class="transactions-allowed">
                    <bidv-checkbox-labeled formControlName="ecom">
                      ECOM/CNP
                    </bidv-checkbox-labeled>
                    <bidv-checkbox-labeled
                      formControlName="cash"
                      class="bidv-space_top-5"
                    >
                      CASH
                    </bidv-checkbox-labeled>
                    <bidv-checkbox-labeled
                      formControlName="sale"
                      class="bidv-space_top-5"
                    >
                      SALE
                    </bidv-checkbox-labeled>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </bidv-expand>
  </div>

  <!-- Địa điểm nhận thẻ-->
  <div class="section">
    <div class="section-header">
      <div class="receivice-place">
        <h3 class="title">Địa điểm nhận thẻ</h3>
        <bidv-select
          [bidvTextfieldCleaner]="true"
          formControlName="placeRec"
          [bidvTextfieldLabelOutside]="true"
          class="select-place"
        >
          Địa điểm nhận thẻ
          <input bidvTextfield />
          <bidv-data-list-wrapper *bidvDataList [items]="placeReceivice" />
        </bidv-select>
      </div>
      <bidv-icon
        icon="bidvIconChevronDown"
        (click)="togglePlace()"
        class="icon-chevron"
        [class.expanded]="expandedPlace"
      ></bidv-icon>
    </div>
    <bidv-expand [expanded]="expandedPlace">
      <ng-template bidvExpandContent>
        <div class="page-non-row">
          <!-- Chi nhánh -->
          <div class="page-non-col page-non-col-6">
            <label class="form-item">
              <div class="bidv-text_title-1">Chi nhánh/ PGD BIDV</div>

              <bidv-input-autocomplete
                [stringify]="stringifyCombobox"
                formControlName="transactionOffice"
              >
                <input bidvTextfield />
                <bidv-data-list-wrapper
                  *bidvDataList
                  [itemContent]="stringifyCombobox | bidvStringifyContent"
                  [items]="
                    transactionOffice
                      | bidvFilterByInputWith : stringifyCombobox
                  "
                />
              </bidv-input-autocomplete>
            </label>
          </div>
          <div class="page-non-col page-non-col-6">
            <label class="form-item">
              <div class="bidv-text_title-1">Địa chỉ chi tiết</div>
              <bidv-input formControlName="detailAdd">
                Chưa có
                <input bidvTextfield type="text" />
              </bidv-input>
            </label>
          </div>
        </div>
      </ng-template>
    </bidv-expand>
  </div>
</form>
<!-- Thu phí -->
<app-fee-collection *ngIf="showFeeCollection"></app-fee-collection>
