<!-- Thẻ phụ -->
<form [formGroup]="formSubCard">
  <div class="section">
    <div class="section-header">
      <div class="section-header_left">
        <h3 class="title">Phát hành thẻ phụ</h3>
        <span>Tối đa {{ MAX_SUB_CARD_ITEMS }} thẻ phụ</span>
      </div>
      <bidv-icon icon="bidvIconChevronDown" (click)="toggleMainCard()" class="icon-chevron"
        [class.expanded]="expandedMainCard"></bidv-icon>
    </div>
    <bidv-expand [expanded]="expandedMainCard">
      <ng-template bidvExpandContent>
        <ng-container formArrayName="subCardItemForms">
          <div *ngFor="let subCardItemForm of subCardItemForms.controls; index as i">
            <app-sub-card-item [subCardItemFormGroup]="subCardItemForm" [subCardItemIndex]="i" [mainAcc]="mainAcc"
              [questions]="questions" [subAccs]="subAccs" [cardForm]="cardForm"
              (handleRemoveSubCardItem)="onRemoveSubCardItem($event)"
              [showPin]="subCardItemForm.value.cardType === 'Thẻ vật lý'" />
          </div>
        </ng-container>
      </ng-template>
    </bidv-expand>
    <button *ngIf="subCardItemForms.controls.length < MAX_SUB_CARD_ITEMS" (click)="addSubCard()" bidvButton
      icon="bidvIconPlus" variant="outlined" class="add-sub-card_btn">Thêm thẻ phụ</button>
  </div>


</form>

<!-- Địa chỉ nhận thẻ -->
<!-- <app-received-address *ngIf="showReceivedAddress && containPhysicalCard()"></app-received-address> -->

<!-- Thu phí -->
<app-fee-collection *ngIf="showFeeCollection"></app-fee-collection>
